{{#UserBars}}
<div class="UserBar" data-userid="{{userId}}">
    <a class="row" style="margin-left: 30px;" href="/Users/GetUser/{{userId}}">
        <img class="UserBarAvatarImage"
             src="@Url.Action("GetImage", "Images")/{{avatarImageId}}"
             onerror="this.onerror=null;this.src='/defaultmedia/defaultavatar.jpeg';" />
        <div style="font-size: 24px;">
            {{nickname}}
        </div>
    </a>
</div>
{{/UserBars}}