@page
@model AvatarModel
@{
    ViewData["Title"] = "Profile picture";
    ViewData["ActivePage"] = ManageNavPages.Avatar;
}

<h4>@ViewData["Title"]</h4>
<partial name="_StatusMessage" model="Model.StatusMessage" />
<div class="row">
    <div class="col-md-6">
        <p hidden="@(Model.ManageAvatarViewModel.AvatarImageId == null)">If you're looking for the option to delete your profile picture you can find it on "Profile pictures history" tab.</p>
        <p hidden="@(Model.ManageAvatarViewModel.AvatarImageId != null)">You haven't uploaded a profile picture yet and using the default one.</p>
        <form id="avatar-form" method="post" enctype="multipart/form-data">
            <div class="form-group">
                <ul style="list-style:none; padding:0;">
                    <li><label asp-for="ManageAvatarViewModel.AvatarImageId"></label></li>
                    <li>
                        <img id="AvatarImage"
                             src="@Url.Action("GetImage", "Images", new { id=Model.ManageAvatarViewModel.AvatarImageId })"
                             onerror="this.onerror=null;this.src='/defaultmedia/defaultavatar.jpeg';" />
                    </li>
                </ul>
            </div>
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <p>New profile picture will be cropped to 300x300 pixels, so make sure that content your want to see as your profile picture is centered on the photo.</p>
                <label asp-for="ManageAvatarViewModel.AvatarImage"></label>
                <input asp-for="ManageAvatarViewModel.AvatarImage" />
            </div>
            <button id="update-avatar-button" type="submit" class="btn btn-primary">Save</button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}